<div class="card bg-dark bg-gradient shadow-lg" style="width: 50rem;">
    <div class="card-body d-flex flex-column text-white">
        <div>
            <p class="card-text">{{ comment.rate }}</p>
            <p class="card-text">{{ comment.body }}</p>
        </div>
    </div>
</div>
