{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center">
        {% include 'comment/_formNew.html.twig' with {'title': 'Edit comment'} %}
    </div>
{% endblock %}
