{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <div class="container d-flex flex-column align-items-center mt-5">
        <a class="text-white align-self-start mb-5" href="{{ path('program_show', {id: program.id}) }}">
            Back to show details
        </a>
        {% include 'components/season/_season.htm.twig' %}
    </div>
{% endblock %}
