{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <div class="container d-flex flex-column align-items-center mt-5">
        <a class="link-info align-self-start mb-5" href="{{ path('program_index') }}">
                    Back to tv shows
        </a>
        {% include 'components/program/_programFull.html.twig' %}
    </div>
{% endblock %}
