@import "~bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';

$primary: #228be6;
$secondary: #fd7e14;

body {
    background-image: radial-gradient(circle, #030f21, #041125, #051329, #06152e, #061732);
}
